RewriteEngine On

RewriteRule ^$      pages/page-index.php [NC,L]
RewriteRule ^house/([^/]+)$      /pages/page-house.php?address_slug=$1 [NC,L]
RewriteRule ^api-get-item$      /apis/api-get-item.php [NC,L]
RewriteRule ^seed.php       /apis/seed.php [NC,L]